@model IEnumerable<DojoLoko.Models.TipoDeAssociacao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Associações</h2></center>

@if (@Model.Any())
{
    <table class="table table-hover">
        <tbody>
            @foreach (var associacao in Model)
            {
                <tr>
                    <td style="vertical-align: middle;">
                        @Html.ActionLink(@associacao.Nome, "Detalhes", new { associacao.ID })
                    </td>
                    <td style="vertical-align: middle;">
                        <a class="btn btn-primary" href="/Faixas/Detalhes/@associacao.ID" style="width: 100%">@associacao.Periodo</a>
                    </td>
                    <td style="vertical-align: middle;">
                        <a class="btn btn-primary" href="/Faixas/Detalhes/@associacao.ID" style="width: 100%">@associacao.Mensalidade</a>
                    </td>
                    <td class="col-md-2" style="vertical-align: middle;">
                        <a class="btn btn-primary" href="/Faixas/Editar/@associacao.ID" style="width: 100%">Editar</a>
                    </td>
                    <td class="col-md-2" style="vertical-align: middle;">
                        <a class="btn btn-primary" href="/Faixas/Deletar/@associacao.ID" style="width: 100%">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("Nova associação", "Novo", null, new { @class = "btn btn-primary" })
}
else
{
    <p>Não temos nenhuma faixa cadastrada</p>
    <br />
    <br />
    @Html.ActionLink("Cadastrar", "Novo", null, new { @class = "btn btn-primary" })
}