@model DojoLoko.ViewModels.AlunoEditarViewModel
@{
    ViewBag.Title = Model.Titulo;
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Salvar", "Alunos"))
{
    @Html.HiddenFor(m => m.Aluno.ID)
    <div class="form-group">
        @Html.LabelFor(m => m.Aluno.Nome)
        @Html.TextBoxFor(m => m.Aluno.Nome, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Aluno.Nome)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Aluno.CPF)
        @Html.TextBoxFor(m => m.Aluno.CPF, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Aluno.CPF)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Aluno.Email)
        @Html.TextBoxFor(m => m.Aluno.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Aluno.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Aluno.Senha)
        @Html.TextBoxFor(m => m.Aluno.Senha, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Aluno.Senha)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Aluno.Faixa)
        @Html.DropDownListFor(m => m.Aluno.FaixaId, new SelectList(Model.Faixa, "ID", "Nome"), "Selecione uma faixa", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Aluno.FaixaId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Aluno.TipoDeAssociacao)
        @Html.DropDownListFor(m => m.Aluno.TipodeAssociacaoId, new SelectList(Model.TipoDeAssociacao, "ID", "Nome"), "Selecione um tipo de associação", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Aluno.TipodeAssociacaoId)
    </div>
    <div id="AulaAlunosTable">
        <table class="table table-bordered table-hover" id="tabela">
            <thead>
                <tr>
                    <th>Aulas</th>
                    <th style="text-align: center">#</th>
                </tr>
            </thead>
            <tbody>
                <tr id="lineClone">
                    <td>
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.Aluno.AulasId, new SelectList(Model.Aula, "ID", "Data"), "Escolha", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Aluno.Aulas)
                        </div>
                    </td>
                    <td><button data-AulaAlunos-id="@Model.Aluno.ID" class="btn btn-danger js-delete">Remover</button></td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary btnClone">Adicionar Linha</button>
    </div>
    <br /><br />
    <button type="submit" class="btn btn-primary">Salvar</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(".btnClone").click(function () {
            $("#lineClone").clone().appendTo("#tabela");
        });
        $("#tabela").on("click", ".js-delete",
            function () {
                var button = $(this);
                button.parents("tr").remove();
            });
    </script>
}