@model DojoLoko.ViewModels.AlunoEditarViewModel
@{
    ViewBag.Title = Model.Titulo;
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Salvar", "Alunos"))
{
    @Html.HiddenFor(m => m.Aluno.ID)
    <div class="form-group">
        @Html.LabelFor(m => m.Aluno.Nome)
        @Html.TextBoxFor(m => m.Aluno.Nome, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Aluno.Nome)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Aluno.CPF)
        @Html.TextBoxFor(m => m.Aluno.CPF, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Aluno.CPF)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Aluno.Email)
        @Html.TextBoxFor(m => m.Aluno.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Aluno.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Aluno.Senha)
        @Html.TextBoxFor(m => m.Aluno.Senha, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Aluno.Senha)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Aluno.Faixa)
        @Html.DropDownListFor(m => m.Aluno.FaixaId, new SelectList(Model.Faixa, "ID", "Nome"), "Selecione uma faixa", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Aluno.FaixaId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Aluno.TipoDeAssociacao)
        @Html.DropDownListFor(m => m.Aluno.TipodeAssociacaoId, new SelectList(Model.TipoDeAssociacao, "ID", "Nome"), "Selecione um tipo de associação", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Aluno.TipodeAssociacaoId)
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
}
