@model IEnumerable<DojoLoko.Models.Aluno>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Alunos</h2></center>

@if (@Model.Any())
{
    <table class="table table-bordered table-hover text-center">
        <tbody>
            @foreach (var aluno in Model)
            {
                <tr>
                    <td>
                        <span class="col-md-1"></span>
                        <span class="col-md-6">@Html.ActionLink(@aluno.Nome, "Detalhes", new { aluno.ID })</span>
                        <span class="col-md-1"></span>
                        <a class="btn btn-warning col-md-1" href="/Alunos/Editar/@aluno.ID">Editar</a>
                        <span class="col-md-1"></span>
                        <a class="btn btn-danger col-md-1" href="/Alunos/Deletar/@aluno.ID">Deletar</a>
                        <span class="col-md-1"></span>
</td>
                </tr>
            }
        </tbody>
</table>
@Html.ActionLink("Novo aluno", "Novo", null, new { @class = "btn btn-primary"})
}
else
{
    <p>Não temos nenhum aluno cadastrado</p>
    <br />
    <br />
    @Html.ActionLink("Cadastrar", "Novo", null, new { @class = "btn btn-primary"})
}