@model IEnumerable<DojoLoko.Models.Aluno>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Alunos</h2></center>

@if (@Model.Any())
{
    <table class="table table-hover">
        <tbody>
            @foreach (var aluno in Model)
            {
               <tr>
                   <td style="vertical-align: middle;">
                        @Html.ActionLink(@aluno.Nome, "Detalhes", new { aluno.ID })
                   </td>
                   <td style="vertical-align: middle;">
                       @Html.ActionLink(@aluno.Faixa.Nome, "Detalhes", new { aluno.ID })
                   </td>
                   <td class="col-md-2" style="vertical-align: middle;">
                       <a class="btn btn-primary" href="/Alunos/Editar/@aluno.ID" style="width: 100%">Editar</a>
                   </td>
                   <td class="col-md-2" style="vertical-align: middle;">
                       <a class="btn btn-primary" href="/Alunos/Deletar/@aluno.ID" style="width: 100%">Deletar</a>
                   </td>
               </tr>                    
            }
            </tbody>
    </table>
    @Html.ActionLink("Novo aluno", "Novo", null, new { @class = "btn btn-primary"})
}
else
{
    <p>Não temos nenhum aluno cadastrado</p>
    <br />
    <br />
    @Html.ActionLink("Cadastrar", "Novo", null, new { @class = "btn btn-primary"})
}